.game-card {
  .game-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 9px 7px 5px 7px;
    border-top: 1px solid #353535;
    background: url('/static/images/bg_room_info.png') 0 0 no-repeat;
    background-size: cover;
  }
}
