@use '../@abstracts' as *;
.page-lobby {
  .game-navigation {
    margin-inline: -20px;
  }
  .page-inner-contents {
    display: flex;
    flex-direction: column;
    // margin-block-start: 40px;

    &.page-game-list {
      flex: 1;
    }
    .list-games {
      margin-block-start: 20px;
    }
  }
}
