@forward 'layout-default';
@forward 'copyright';

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #47475e;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
  border-radius: 5px;
}

body {
  overflow-x: hidden;
  background-color: var(--basic-bg);
  color: #fff;
}

html:has(body.lock-scroll),
body.lock-scroll {
  overflow: hidden;
}
